$width: 20px;
$height: 20px;
$board-width: 400px;
$board-height: 600px;


* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.top {
    background-color: orange;
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center {
    background-image: url(../media/grass.png);
    display: flex;
    flex-wrap: wrap;
    width: $board-width;
    height: $board-height;
    div {
        width: $width;
        height: $height;
        font-size: 10;
        }
}

// .side-left, .side-right {
//     background-color: blue;
//     width: 20%;
// }

.apple {
    background-image:url(../media/apple.png);
}

.snake {
    background-image:url(../media/snake2.png);
    &-head {
        background-image:url(../media/head.png);
    }
    
    &.head-down {
        transform: rotate(270deg);
    }
    &.head-left {
        transform: rotate(0deg);
    }
    &.head-up {
        transform: rotate(90deg);
    }
    &.head-right {
        transform: rotate(180deg);
    }
}

